In [144]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

# Player Count

In [145]:
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [146]:
player_count = purchase_data["Purchase ID"].count()

In [147]:
total_players_df = pd.DataFrame({"Total Players": [player_count]})

In [148]:
total_players_df

   Total Players
0            780

# Purchasing Analysis (Total)

In [149]:
unique_items = purchase_data["Item Name"].nunique()

In [150]:
average_price = purchase_data["Price"].mean()

In [151]:
number_of_purchases = purchase_data["Price"].count()

In [152]:
total_revenue = purchase_data["Price"].sum()

In [153]:
purchase_summary_df = pd.DataFrame({"Number of Unique Items": [unique_items],
                                    "Average Price" : [average_price],
                                    "Number of Purchases": [number_of_purchases],
                                    "Total Revenue": [total_revenue]
                                   })

In [154]:
purchase_summary_df["Average Price"] = purchase_summary_df["Average Price"].map("${:.2f}".format)
purchase_summary_df["Total Revenue"] = purchase_summary_df["Total Revenue"].map("${:,.2f}".format)

In [155]:
purchase_summary_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77