In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

# Player Count

In [2]:
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [3]:
player_count = purchase_data["SN"].nunique()

In [4]:
total_players_df = pd.DataFrame({"Total Players": [player_count]})

In [5]:
total_players_df

   Total Players
0            576

# Purchasing Analysis (Total)

In [6]:
unique_items = purchase_data["Item Name"].nunique()

In [7]:
average_price = purchase_data["Price"].mean()

In [8]:
number_of_purchases = purchase_data["Price"].count()

In [9]:
total_revenue = purchase_data["Price"].sum()

In [10]:
purchase_summary_df = pd.DataFrame({"Number of Unique Items": [unique_items],
                                    "Average Price" : [average_price],
                                    "Number of Purchases": [number_of_purchases],
                                    "Total Revenue": [total_revenue]
                                   })

In [11]:
purchase_summary_df["Average Price"] = purchase_summary_df["Average Price"].map("${:.2f}".format)
purchase_summary_df["Total Revenue"] = purchase_summary_df["Total Revenue"].map("${:,.2f}".format)

In [12]:
purchase_summary_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

# Gender Demographics

In [13]:
# Create new dataframe with SN and Gender
#sn_gender_df = purchase_data[["SN","Gender"]]

# Remove duplicate SNs to create new dataframe of unique players and gender
unique_players_df = purchase_data.drop_duplicates(["SN"])

In [14]:
# Find counts for each gender of unique players
gender_count = unique_players_df["Gender"].value_counts()

In [15]:
# Create new dataframe with gender counts and their percentage
gender_count_df = pd.DataFrame({"Total Count": gender_count, "Percentage of Players":gender_count/player_count*100})

In [16]:
# Display gender count dataframe
gender_count_df

                       Total Count  Percentage of Players
Male                           484              84.027778
Female                          81              14.062500
Other / Non-Disclosed           11               1.909722

In [17]:
#male_df = purchase_data.loc[purchase_data["Gender"] == "Male", "SN"]

In [18]:
#female_df = purchase_data.loc[purchase_data["Gender"] == "Female", "SN"]

In [19]:
#female_count = female_df.nunique()

In [20]:
#other_count = player_count - male_count - female_count

In [21]:
#unique = purchase_data[["SN","Gender"]]

In [22]:
#gender = purchase_data.drop_duplicates(["SN"])

In [23]:
#male_df = purchase_data.loc[purchase_data["Gender"] == "Male", "SN"]

In [24]:
#male_df.count()

In [25]:
#gender_count_df = pd.DataFrame({"Total Count":gender_counts})

In [26]:
#gender_count_df["Percentage of Players"] = gender_counts/player_count*100

In [27]:
#gender_count_df

# Purchasing Analysis (Gender)

In [28]:
# Create new data frame, grouped by Gender
gender_grouped_df = purchase_data.groupby("Gender")

In [29]:
# Calculate purchase count, average purchase price, total purchase, and average purchase per unique player
purchase_count = gender_grouped_df["Purchase ID"].count()
avg_purchase_price = gender_grouped_df["Price"].mean()
total_purchase = gender_grouped_df["Price"].sum()
avg_per_person = total_purchase/gender_count

In [30]:
# Create purchase summary dataframe
purchase_summary_df = pd.DataFrame({"Count":purchase_count,
                                    "Average Purchase Price":avg_purchase_price,
                                   "Total Purchase Value":total_purchase,
                                    "Avg Total Purchase per Person":avg_per_person
                                   })

In [31]:
# Display purchase summary dataframe
purchase_summary_df

,Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Female,113,3.203009,361.94,4.468395
Male,652,3.017853,1967.64,4.065372
Other / Non-Disclosed,15,3.346000,50.19,4.562727

# Age Demographics

In [32]:
unique_players_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [33]:
# Find highest age in dataframe
highest_age = unique_players_df["Age"].max()

# Create bins for ages with highest_age as upper limit
age_bins = [0,9,14,19,24,29,34,39,highest_age]

# Create names for bins
age_bins_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

In [34]:
# Slice data, place it into bins, add new column into unique_players_df
unique_players_df["Age Group"]= pd.cut(unique_players_df["Age"], age_bins, labels = age_bins_names)

<ipython-input-34-68a88197b914>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  unique_players_df["Age Group"]= pd.cut(unique_players_df["Age"], age_bins, labels = age_bins_names)

In [35]:
group_count = unique_players_df["Age Group"].value_counts(sort = False)

In [37]:
age_group_percent = group_count/player_count

In [38]:
age_group_df = pd.DataFrame({"Total Count":group_count,"Percentage of Players":age_group_percent})

In [39]:
age_group_df

       Total Count  Percentage of Players
<10             17               0.029514
10-14           22               0.038194
15-19          107               0.185764
20-24          258               0.447917
25-29           77               0.133681
30-34           52               0.090278
35-39           31               0.053819
40+             12               0.020833