In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

# Player Count

In [2]:
# Find count of unique SN
player_count = purchase_data["SN"].nunique()

In [3]:
# Create new dataframe
total_players_df = pd.DataFrame({"Total Players": [player_count]})

In [4]:
# Dispaly dataframe
total_players_df

   Total Players
0            576

# Purchasing Analysis (Total)

In [5]:
# Find count of unique items
unique_items = purchase_data["Item Name"].nunique()

In [6]:
# Find average price of all items
average_price = purchase_data["Price"].mean()

In [7]:
# Find count of purchases
number_of_purchases = purchase_data["Price"].count()

In [8]:
# Find sum of all purchases
total_revenue = purchase_data["Price"].sum()

In [9]:
# Create new dataframe
purchase_summary_df = pd.DataFrame({"Number of Unique Items": [unique_items],
                                    "Average Price" : [average_price],
                                    "Number of Purchases": [number_of_purchases],
                                    "Total Revenue": [total_revenue]
                                   })

In [10]:
# Format currency values
purchase_summary_df["Average Price"] = purchase_summary_df["Average Price"].map("${:.2f}".format)
purchase_summary_df["Total Revenue"] = purchase_summary_df["Total Revenue"].map("${:,.2f}".format)

In [11]:
# Display dataframe
purchase_summary_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

# Gender Demographics

In [12]:
# Remove duplicate SNs to create new dataframe of unique players and gender
unique_players_df = purchase_data.drop_duplicates(["SN"]).copy()

In [13]:
# Find counts for each gender of unique players
gender_count = unique_players_df["Gender"].value_counts()

In [14]:
# Calculate gender precentage
gender_precent = gender_count/player_count*100

In [15]:
# Create new dataframe with gender counts and their percentage
gender_count_df = pd.DataFrame({"Total Count": gender_count, "Percentage of Players":gender_precent})

In [16]:
# Format percentage
gender_count_df["Percentage of Players"] = gender_count_df["Percentage of Players"].map("{:.2f}%".format)

In [17]:
# Display gender count dataframe
gender_count_df

                       Total Count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%

# Purchasing Analysis (Gender)

In [18]:
# Group by gender
grouped_gender_df = purchase_data.groupby("Gender")

In [19]:
# Find number of unique players in group
players_in_gender_group = grouped_gender_df["SN"].nunique()

In [20]:
# Calculate purchase count, average purchase price, total purchase, and average purchase per unique player
purchase_count = grouped_gender_df["Purchase ID"].count()
avg_purchase_price = grouped_gender_df["Price"].mean()
total_purchase = grouped_gender_df["Price"].sum()
avg_per_person = total_purchase/players_in_gender_group

In [21]:
# Create purchase summary dataframe
purchase_summary_df = pd.DataFrame({"Count":purchase_count,
                                    "Average Purchase Price":avg_purchase_price,
                                    "Total Purchase Value":total_purchase,
                                    "Avg Total Purchase per Person":avg_per_person
                                   })

In [22]:
# Format currency values
purchase_summary_df["Average Purchase Price"] = purchase_summary_df["Average Purchase Price"].map("${:.2f}".format)
purchase_summary_df["Total Purchase Value"] = purchase_summary_df["Total Purchase Value"].map("${:,.2f}".format)
purchase_summary_df["Avg Total Purchase per Person"] = purchase_summary_df["Avg Total Purchase per Person"].map("${:.2f}".format)

In [23]:
# Display dataframe
purchase_summary_df

,Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

# Age Demographics

In [24]:
# Find highest age in dataframe
highest_age = unique_players_df["Age"].max()

# Create bins for ages with highest_age as upper limit
age_bins = [0,9,14,19,24,29,34,39,highest_age]

# Create names for bins
age_bins_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

In [25]:
# Slice data, place it into bins, add new column into unique_players_df
unique_players_df["Age Ranges"]= pd.cut(unique_players_df["Age"], age_bins, labels = age_bins_names)

In [26]:
# Find number of players in each group
group_player_count = unique_players_df["Age Ranges"].value_counts(sort = False)

In [27]:
# Calculate percentage of player in each group
age_group_percent = group_player_count/player_count*100

In [28]:
# Create new dataframe
age_group_df = pd.DataFrame({"Total Count":group_player_count,"Percentage of Players":age_group_percent})

In [29]:
# Format percentage
age_group_df["Percentage of Players"] = age_group_df["Percentage of Players"].map("${:.2f}".format)

In [30]:
# Display dataframe
age_group_df

       Total Count Percentage of Players
<10             17                 $2.95
10-14           22                 $3.82
15-19          107                $18.58
20-24          258                $44.79
25-29           77                $13.37
30-34           52                 $9.03
35-39           31                 $5.38
40+             12                 $2.08

# Purchasing Analysis (Age)

In [31]:
# Add binned age ranges column to purchase_data dataframe
purchase_data["Age Ranges"] = pd.cut(purchase_data["Age"], age_bins, labels = age_bins_names)

In [32]:
# Group by age ranges
grouped_age_df = purchase_data.groupby(["Age Ranges"])

In [33]:
# Find number of unique players in each group
players_in_age_group = grouped_age_df['SN'].nunique()

In [34]:
# Find values
purchase_count2 = grouped_age_df["Purchase ID"].count()
avg_purchase_price2 = grouped_age_df["Price"].mean()
total_purchase2 = grouped_age_df["Price"].sum()
avg_per_person2 = total_purchase2/players_in_age_group

In [35]:
# Create new dataframe
age_purchase_summary_df = pd.DataFrame({"Purchase Count":purchase_count2,
                                        "Average Purchase Price":avg_purchase_price2,
                                        "Total Purchase Value":total_purchase2,
                                        "Avg Total Purchase per Person":avg_per_person2  
                                       })

In [36]:
# Format currency values
age_purchase_summary_df["Average Purchase Price"] = age_purchase_summary_df["Average Purchase Price"].map("${:.2f}".format)
age_purchase_summary_df["Total Purchase Value"] = age_purchase_summary_df["Total Purchase Value"].map("${:,.2f}".format)
age_purchase_summary_df["Avg Total Purchase per Person"] = age_purchase_summary_df["Avg Total Purchase per Person"].map("${:.2f}".format)

In [37]:
age_purchase_summary_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Ranges,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

# Top Spenders

In [38]:
# Add purchase count column and set to 1
purchase_data["Purchase Count"] = 1

In [39]:
# Group by SN
grouped_sn_df = purchase_data.groupby(['SN'])

In [40]:
# Calculate total purchase value and count
total_purchase = grouped_sn_df['Price'].sum()
purchase_count = grouped_sn_df['Purchase Count'].sum()

In [41]:
# Calculate average purchase price
average_price = total_purchase/purchase_count

In [42]:
# Create new dataframe from grouped data
top_spenders_df = pd.DataFrame({"Purchase Count":purchase_count, "Average Purchase Price":average_price, "Total Purchase Price": total_purchase})

In [43]:
# Sort dataframe by descending total purchase
top_spenders_df.sort_values(by=["Total Purchase Price"], inplace=True, ascending = False)

In [44]:
# Format currency values
top_spenders_df["Average Purchase Price"] = top_spenders_df["Average Purchase Price"].map("${:.2f}".format)
top_spenders_df["Total Purchase Price"] = top_spenders_df["Total Purchase Price"].map("${:.2f}".format)

In [45]:
# Display preview
top_spenders_df.head()

             Purchase Count Average Purchase Price Total Purchase Price
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

# Most Popular Items

In [46]:
# Group by item id and item name
grouped_item_df = purchase_data.groupby(['Item ID', 'Item Name'])

In [47]:
# Find values
purchase_count = grouped_item_df['Purchase Count'].sum()
item_price = grouped_item_df['Price'].sum()
average_item_price = item_price/purchase_count

In [48]:
# Create new dataframe
popular_items_df = pd.DataFrame({'Purchase Count':purchase_count, 'Item Price':average_item_price, 'Total Purchase Value': item_price})

In [49]:
# Sort dataframe by descending purchase count
popular_items_df.sort_values(by = 'Purchase Count', inplace = True, ascending = False)

In [50]:
# Format currenty values
popular_items_df['Item Price'] = popular_items_df['Item Price'].map("${:.2f}".format)
popular_items_df['Total Purchase Value'] = popular_items_df['Total Purchase Value'].map("${:.2f}".format)

In [51]:
popular_items_df.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

# Most Profitable Items

In [52]:
# Create copy of dataframe
profitable_items_df = popular_items_df.copy()

In [53]:
# Convert total purchase value column to float
profitable_items_df["Total Purchase Value"] = profitable_items_df["Total Purchase Value"].str.replace("$", "").astype('float')

<ipython-input-53-2625278204ed>:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  profitable_items_df["Total Purchase Value"] = profitable_items_df["Total Purchase Value"].str.replace("$", "").astype('float')

In [54]:
# Sort dataframe by descending total purchase value
profitable_items_df.sort_values(by = "Total Purchase Value", inplace = True, ascending = False)

In [55]:
# Reformat total purchase value to currency
profitable_items_df["Total Purchase Value"] = profitable_items_df["Total Purchase Value"].map("${:.2f}".format)

In [56]:
# Display dataframe
profitable_items_df.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80